
<!-- ------------------------------------ header ---------------------------------- -->
<div id="header" ng-controller="Header_controller" data-ng-init="init()">

    <nav class="navbar navbar-default loggedin navbar-fixed-top" id="main-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo" style="cursor:pointer;" ng-click="rootScope_GoToFrontPage()">&nbsp;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <div id="above-menu">
                    <div id="first">
                        <ul id="trapezoid"></ul>
                    </div>
                    <div id="second">
                        <div id="trapezoid1">
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right" id="main-navigation" ng-show="rootScope_username!=null">
                    <li class="dropdown">
                        <a href="#/MyAccount" role="button" ng-show="rootScope_username!=null">{{'My Account' | translate}}</a>

                    </li>
                    <li class="dropdown" ng-show="rootScope_curentUser.userType=='IGG'">
                        <a href="#/Admin" role="button">{{'Admin' | translate}}</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ng-click="rootScope_logout()" ng-show="rootScope_username!=null">{{'Log Off' | translate}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="main-navigation" ng-show="rootScope_username==null">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'expertises' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bouwkostenmanagement link' | translate}}">{{'bouwkostenmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoed- en grondexploitaties link' | translate}}">{{'vastgoed- en grondexploitaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'anbesteden en contracteren link' | translate}}">{{'aanbesteden en Contracteren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'contractmanagement link' | translate}}">{{'contractmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'duurzaam bouwen link' | translate}}">{{'duurzaam bouwen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bim management link' | translate}}">{{'BIM Management' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'risicomanagement link' | translate}}">{{'risicomanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'taxaties en waardebepalingen link' | translate}}">{{'taxaties en waardebepalingen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'Werkgebieden' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'woningbouw link' | translate}}">{{'woningbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'kantoren link' | translate}}">{{'kantoren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'hotels link' | translate}}">{{'hotels' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'commercieel en bedrijfspanden link' | translate}}">{{'Commercieel en bedrijfspanden' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'leisure cultuur en sport link' | translate}}">{{'Leisure, Cultuur en Sport' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'datacentra link' | translate}}">{{'Datacentra' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'zorg, onderwijs en laboratoria link' | translate}}">{{'Zorg, onderwijs en Laboratoria' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'overheid link' | translate}}">{{'Overheid' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'luchthavens en infrastructuur link' | translate}}">{{'Luchthavens en infrastructuur' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'grond- weg en waterbouw link' | translate}}">{{'Grond- Weg en Waterbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'energie en klimaat link' | translate}}">{{'Energie en klimaat' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'gebiedsontwikkeling link' | translate}}">{{'Gebiedsontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoedontwikkeling link' | translate}}">{{'Vastgoedontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'transformaties link' | translate}}">{{'Transformaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'monumenten en erfgoed link' | translate}}">{{'Monumenten en erfgoed' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'afbouw en interieur link' | translate}}">{{'Afbouw en Interieur' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'beheer en onderhoud link' | translate}}">{{'Beheer en onderhoud' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{'projects_link' | translate}}" role="button">{{'Projects' | translate}}</a>

                    </li>
                    <li>
                        <a href="{{'team_link' | translate}}">{{'Team' | translate}}</a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right" id="secondarymenucontent">
                    <!-- ---------- SEARCH ------------->
                    <!--<div class="search" ng-show="rootScope_username!=null">
                        <input type="text" ng-model="searchstring" ng-keyup="$event.keyCode == 13 ? search() : null" class="form-control input-sm" maxlength="64" placeholder="{{'Search' |translate}}" />
                        <button type="submit" class="btn btn-search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>-->
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{'about link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'About igg' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'news link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'News' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'products link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'products' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'solutions link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Solutions' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'vacancies link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Vacancies' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'contact link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Contact' | translate}}</a>
                        </li>
                        <!--<li ng-show="rootScope_username!=null"  style="text-transform: lowercase;">
                            <a href="#" ng-click="rootScope_logout()">{{'Logout' | translate}}</a>
                        </li>-->

                        <li id="language">
                            <a style="cursor:pointer;" ng-click="rootScope_changeLanguage('en')">EN</a>/<a class="active" style="cursor:pointer;  font-weight:normal;" ng-click="rootScope_changeLanguage('nl')">NL</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!------------------------- small menu: --->
            <div class="collapse navbar-collapse" id="defaultNavbar2" style="background-color:blue">
                <ul class="nav navbar-nav navbar-right" id="shrink-navigation">
                    <li class="dropdown">
                        <a href="#/MyAccount" role="button" ng-show="rootScope_username!=null">{{'My Account' | translate}}</a>

                    </li>
                    <li class="dropdown" ng-show="rootScope_curentUser.userType=='IGG'">
                        <a href="#/Admin" role="button">{{'Admin' | translate}}</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ng-click="rootScope_logout()" ng-show="rootScope_username!=null" style="text-transform:lowercase">{{'Log Off' | translate}}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-show="rootScope_username==null">{{'expertises' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bouwkostenmanagement link' | translate}}">{{'bouwkostenmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoed- en grondexploitaties link' | translate}}">{{'vastgoed- en grondexploitaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'anbesteden en contracteren link' | translate}}">{{'aanbesteden en Contracteren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'contractmanagement link' | translate}}">{{'contractmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'duurzaam bouwen link' | translate}}">{{'duurzaam bouwen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bim management link' | translate}}">{{'BIM Management' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'risicomanagement link' | translate}}">{{'risicomanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'taxaties en waardebepalingen link' | translate}}">{{'taxaties en waardebepalingen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-show="rootScope_username==null">{{'Werkgebieden' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'woningbouw link' | translate}}">{{'woningbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'kantoren link' | translate}}">{{'kantoren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'hotels link' | translate}}">{{'hotels' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'commercieel en bedrijfspanden link' | translate}}">{{'Commercieel en bedrijfspanden' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'leisure cultuur en sport link' | translate}}">{{'Leisure, Cultuur en Sport' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'datacentra link' | translate}}">{{'Datacentra' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'zorg, onderwijs en laboratoria link' | translate}}">{{'Zorg, onderwijs en Laboratoria' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'overheid link' | translate}}">{{'Overheid' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'luchthavens en infrastructuur link' | translate}}">{{'Luchthavens en infrastructuur' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'grond- weg en waterbouw link' | translate}}">{{'Grond- Weg en Waterbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'energie en klimaat link' | translate}}">{{'Energie en klimaat' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'gebiedsontwikkeling link' | translate}}">{{'Gebiedsontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoedontwikkeling link' | translate}}">{{'Vastgoedontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'transformaties link' | translate}}">{{'Transformaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'monumenten en erfgoed link' | translate}}">{{'Monumenten en erfgoed' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'afbouw en interieur link' | translate}}">{{'Afbouw en Interieur' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'beheer en onderhoud link' | translate}}">{{'Beheer en onderhoud' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{'projects_link' | translate}}" role="button" ng-show="rootScope_username==null">{{'Projects' | translate}}</a>

                    </li>
                    <li>
                        <a href="{{'team_link' | translate}}" ng-show="rootScope_username==null">{{'Team' | translate}}</a>
                    </li>
                    <li class="active">
                        <a href="{{'about link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'About igg' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'news link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'News' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'products link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'products' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'solutions link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Solutions' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'vacancies link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Vacancies' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'contact link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Contact' | translate}}</a>
                    </li>
                    <li id="language">
                        <a style="cursor:pointer; font-weight:normal;" ng-click="rootScope_changeLanguage('en')">EN</a>/<a class="active" style="cursor:pointer; font-weight:normal;" ng-click="rootScope_changeLanguage('nl')">NL</a>
                    </li>
                    <!-- ---------- SEARCH ------------->
                    <!--<div class="search" ng-show="rootScope_username!=null">
                        <input type="text" ng-model="searchstring" ng-keyup="$event.keyCode == 13 ? search() : null" class="form-control input-sm" maxlength="64" placeholder="{{'Search' |translate}}" />
                        <button type="submit" class="btn btn-search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>-->

                </ul>


                <ul class="nav navbar-nav navbar-right" id="main-navigation">
                    <li class="dropdown">
                        <a href="#/MyAccount" role="button" ng-show="rootScope_username!=null">{{'My Account' | translate}}</a>

                    </li>
                    <li class="dropdown" ng-show="rootScope_curentUser.userType=='IGG'">
                        <a href="#/Admin" role="button">{{'Admin' | translate}}</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ng-click="rootScope_logout()" ng-show="rootScope_username!=null" style="text-transform:lowercase">{{'Log Off' | translate}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
<!-- ------------------------------------ / header ---------------------------------- -->

<!-------------   lets rock -->
<div id="content" ng-controller="MyAccount_controller" data-ng-init="init()">
    <div id="content">
        <div class="container-fluid" id="banner-main">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-10 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                    <div class="banner-well well">
                        <div class="title">{{user.name}} {{user.middleName}} {{user.surname}}</div>
                        <div class="undertitle"> {{user.companyName}}</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container tenders" id="mytenders">
            <div class="row">
                <h3>{{'My tenders' | translate}}</h3>
            </div>
            <div class="row row-centered">
                  <!-- Projects in progress  -->
                <div class="col-md-4 col-centered col-sm-6 col-xs-6" ng-repeat="proj in projectsInProgress" ng-click="gotoProject(proj.ID)" style="cursor:pointer;">
                    <div class="project">
                        <div class="img-project">
                            <img ng-src="{{GetProjectImageAddress(proj.photo)}}" alt="{{proj.name}}" class="projectimage"/>
                        </div>
                        <div>
                            <h3>{{proj.name}}</h3>
                        </div>
                    </div>
                </div>
                <!--  / Projects in progress  -->
            </div>
        </div>
        <div class="container tenders" id="pasttenders">
            <div class="row">
                <h3 ng-show="projectsClosed.length>0">{{'My finished tenders' | translate}}</h3>
            </div>
            <div class="row row-centered">
                <!-- Closed projects   -->
                <div class=" col-md-3 col-centered col-sm-4 col-xs-6" ng-repeat="proj in projectsClosed" ng-click="gotoProject(proj.ID)" style="cursor:pointer; width: 33%;">
                    <div class="project">
                        <div class="img-project">
                            <img ng-src="{{GetProjectImageAddress(proj.photo)}}" alt="{{proj.name}}" class="projectimage">
                        </div>
                        <div>
                            <h3>{{proj.name}}</h3>
                        </div>
                    </div>
                </div>
                <!-- / Closed projects   -->
            </div>
        </div>
        <div class="container tenders" id="mydetails">
            <div class="row">
                <h3>{{'My Data' | translate}}</h3>
            </div>
            <div class="row tender-forms">
                <form class="form-horizontal" name="myAccounForm">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error': myAccounForm.companyName.$touched && myAccounForm.companyName.$invalid }">
                            <div class="col-sm-12">
                                <label for="Bedrijfsnaam">{{'companyName' | translate}}</label>
                                <input type="text" class="form-control" id="Bedrijfsnaam" name="companyName" ng-change="modelChanged()" ng-model="user.companyName" required>
                                <div ng-messages="myAccounForm.companyName.$error" ng-if="myAccounForm.companyName.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                </div>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="Sexe" >{{'sex' | translate}}</label>
                       
                                <select class="form-control" id="Sexe" ng-change="modelChanged()" ng-model="user.sex" ng-options="x.value as x.name for x in rootScope_sexes">
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="Titel">{{'title' | translate}}</label>
                                <select class="form-control" id="Titel" ng-change="modelChanged()" ng-model="user.title" ng-options="x for x in rootScope_titles"></select>
                            </div>
                            <div class="col-sm-6" ng-class="{ 'has-error': myAccounForm.firstName.$touched && myAccounForm.firstName.$invalid }">
                                <label for="Voornaam">{{'name' | translate}}</label>
                                <input type="text" class="form-control" id="Voornaam" name="firstName" ng-change="modelChanged()" ng-model="user.name" required>
                                <div class="help-block" ng-messages="myAccounForm.firstName.$error" ng-if="myAccounForm.firstName.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="Voorletters">{{'initials' | translate}}</label>
                                <input type="text" class="form-control" id="Voorletters" ng-change="modelChanged()" ng-model="user.initials">
                            </div>
                            <div class="col-sm-3">
                                <label for="Tussen">{{'middleName' | translate}}</label>
                                <input type="text" class="form-control" id="Tussen"  ng-change="modelChanged()" ng-model="user.middleName">
                            </div>
                            <div class="col-sm-6" ng-class="{ 'has-error': myAccounForm.lastName.$touched && myAccounForm.lastName.$invalid }">
                                <label for="Achternaam">{{'surname' | translate}}</label>
                                <input type="text" class="form-control" id="Achternaam" name="lastName" ng-change="modelChanged()" ng-model="user.surname" required>
                                <div ng-messages="myAccounForm.lastName.$error" ng-if="myAccounForm.lastName.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error': myAccounForm.address.$touched && myAccounForm.address.$invalid }">
                            <div class="col-sm-12">
                                <label for="Adres">{{'address' | translate}}</label>
                                <input type="text" class="form-control" id="Adres" name="address" ng-change="modelChanged()" ng-model="user.address" required>
                                <div ng-messages="myAccounForm.address.$error" ng-if="myAccounForm.address.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="Postcode">{{'postCode' | translate}}</label>
                                <input type="text" class="form-control" id="Postcode" ng-change="modelChanged()" ng-model="user.postCode">
                            </div>
                            <div class="col-sm-8" ng-class="{ 'has-error': myAccounForm.city.$touched && myAccounForm.city.$invalid }">
                                <label for="Plaats">{{'city' | translate}}</label>
                                <input type="text" class="form-control" id="Plaats" name="city" ng-change="modelChanged()" ng-model="user.city" required>
                                <div ng-messages="myAccounForm.city.$error" ng-if="myAccounForm.city.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Land">{{'country' | translate}}</label>
                                <select class="form-control" id="Land" ng-change="modelChanged()" ng-model="user.country" ng-options="x for x in rootScope_countries"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error': myAccounForm.email.$touched && myAccounForm.email.$invalid }">
                            <div class="col-sm-12">
                                <label for="E-mailadres">{{'email' | translate}}</label>
                                <input type="email" class="form-control" id="E-mailadres" name="email" ng-change="modelChanged()" ng-model="user.email" required>
                                <div ng-messages="myAccounForm.email.$error" ng-if="myAccounForm.email.$touched">
                                    <div ng-messages-include="messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Telefoonnummer">{{'phone' | translate}}</label>
                                <input type="text" class="form-control" id="Telefoonnummer" ng-change="modelChanged()" ng-model="user.phone"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Mobiel">{{'mobile' | translate}}</label>
                                <input type="text" class="form-control" id="Mobiel" ng-change="modelChanged()" ng-model="user.mobile">
                            </div>
                        </div>
                        <!------- datepicker 
                        <div class='datepicker_novi'>
                             <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>  
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2018-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-weeks="false" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" ng-click="open($event)"></span>
                                </span>
                            </div>
                        </div>
                         / datepicker --->
                    </div>
                    <div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-12">                        
                        <button type="button" class="btn btn-block" id="Wijzigen" ng-disabled=!canSave||myAccounForm.$invalid ng-click="SaveMyAccount(myAccounForm.$valid)">{{'Save' | translate}}</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-------------  / lets rock -->


<!-- ------------------------------------ footer ---------------------------------- -->
<footer>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" id="contact">
                <h3>{{'Contact'|translate}}</h3>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>{{'contact_address_1' | translate}}</p>
                    <p>{{'contact_address_2' | translate}}</p>
                    <p>{{'contact_address_3' | translate}}</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p><span>T</span> {{'contact_T' | translate}}</p>
                    <!--<p><span>F</span>{{'contact_F' | translate}}</p>-->
                    <p><span>E</span> {{'contact_E' | translate}}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" id="partners">
                <h3>{{'Onze Partners' | translate}}</h3>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_1' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO1.jpg" alt="partner logo" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_2' | translate}}" target="_blank"><img src="Scripts/SPA/img/logo2.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_3' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO3.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_4' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO4.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_5' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO5.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_6' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO6.jpg" alt="partner logo" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-low">
        <div class="container">
            <ul>
                <li>
                    <a href="{{'sitemap_link' | translate}}" target="_blank">{{'Sitemap' | translate}}</a>
                </li>
                <li>
                    <a href="{{'privacy_link' | translate}}" target="_blank">{{'Privacy' | translate}}</a>
                </li>
                <li>
                    <a href="{{'disclaimer_link' | translate}}" target="_blank">{{'Disclaimer' | translate}}</a>
                </li>
                <li>
                    <a href="{{'terms_link' | translate}}" target="_blank">{{'Algemene voorwaarden' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- ------------------------------------ / footer ---------------------------------- -->

