
<div ng-controller="Upload_controller">
    <button ng-click="downloadZip()">{{'DOWNLOAD' |translate}}</button>
    
    <br /><br /> 
    watching model:
    <div class="button" ngf-select ng-model="file" ngf-multiple="false">{{'SELECT FILE' | translate}}</div>
    
    <br /><br />
    on file change multiple:
    <button ngf-select="upload($files)" ngf-multiple="true">{{'SELECT FILE' | translate}}</button>
    
    <br /><br /> 
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
         ngf-drag-over-class="'dragover'" 
         ngf-multiple="true" 
         ngf-allow-dir="true"
         accept="image/*,application/pdf"
         ngf-pattern="'image/*,application/pdf'  ">{{'Drop pdfs or click to upload' | translate}}</div>
    <div ngf-no-file-drop>{{'File Drag/Drop is not supported for this browser, please use newer browser' | translate}} </div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
</div>
 