<!-- ------------------------------------ header ---------------------------------- -->
<div id="header" ng-controller="Header_controller" data-ng-init="init()">

    <nav class="navbar navbar-default loggedin navbar-fixed-top" id="main-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo" style="cursor:pointer;" ng-click="rootScope_GoToFrontPage()">&nbsp;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <div id="above-menu">
                    <div id="first">
                        <ul id="trapezoid"></ul>
                    </div>
                    <div id="second">
                        <div id="trapezoid1">
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right" id="main-navigation" ng-show="rootScope_username!=null">
                    <li class="dropdown">
                        <a href="#/MyAccount" role="button" ng-show="rootScope_username!=null">{{'My Account' | translate}}</a>

                    </li>
                    <li class="dropdown" ng-show="rootScope_curentUser.userType=='IGG'">
                        <a href="#/Admin" role="button">{{'Admin' | translate}}</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ng-click="rootScope_logout()" ng-show="rootScope_username!=null">{{'Log Off' | translate}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="main-navigation" ng-show="rootScope_username==null">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'expertises' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bouwkostenmanagement link' | translate}}">{{'bouwkostenmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoed- en grondexploitaties link' | translate}}">{{'vastgoed- en grondexploitaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'anbesteden en contracteren link' | translate}}">{{'aanbesteden en Contracteren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'contractmanagement link' | translate}}">{{'contractmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'duurzaam bouwen link' | translate}}">{{'duurzaam bouwen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bim management link' | translate}}">{{'BIM Management' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'risicomanagement link' | translate}}">{{'risicomanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'taxaties en waardebepalingen link' | translate}}">{{'taxaties en waardebepalingen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'Werkgebieden' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'woningbouw link' | translate}}">{{'woningbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'kantoren link' | translate}}">{{'kantoren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'hotels link' | translate}}">{{'hotels' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'commercieel en bedrijfspanden link' | translate}}">{{'Commercieel en bedrijfspanden' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'leisure cultuur en sport link' | translate}}">{{'Leisure, Cultuur en Sport' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'datacentra link' | translate}}">{{'Datacentra' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'zorg, onderwijs en laboratoria link' | translate}}">{{'Zorg, onderwijs en Laboratoria' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'overheid link' | translate}}">{{'Overheid' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'luchthavens en infrastructuur link' | translate}}">{{'Luchthavens en infrastructuur' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'grond- weg en waterbouw link' | translate}}">{{'Grond- Weg en Waterbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'energie en klimaat link' | translate}}">{{'Energie en klimaat' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'gebiedsontwikkeling link' | translate}}">{{'Gebiedsontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoedontwikkeling link' | translate}}">{{'Vastgoedontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'transformaties link' | translate}}">{{'Transformaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'monumenten en erfgoed link' | translate}}">{{'Monumenten en erfgoed' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'afbouw en interieur link' | translate}}">{{'Afbouw en Interieur' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'beheer en onderhoud link' | translate}}">{{'Beheer en onderhoud' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{'projects_link' | translate}}" role="button">{{'Projects' | translate}}</a>

                    </li>
                    <li>
                        <a href="{{'team_link' | translate}}">{{'Team' | translate}}</a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right" id="secondarymenucontent">
                    <!-- ---------- SEARCH ------------->
                    <!--<div class="search" ng-show="rootScope_username!=null">
                        <input type="text" ng-model="searchstring" ng-keyup="$event.keyCode == 13 ? search() : null" class="form-control input-sm" maxlength="64" placeholder="{{'Search' |translate}}" />
                        <button type="submit" class="btn btn-search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>-->
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{'about link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'About igg' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'news link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'News' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'products link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'products' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'solutions link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Solutions' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'vacancies link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Vacancies' | translate}}</a>
                        </li>
                        <li>
                            <a href="{{'contact link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Contact' | translate}}</a>
                        </li>
                        <!--<li ng-show="rootScope_username!=null"  style="text-transform: lowercase;">
                            <a href="#" ng-click="rootScope_logout()">{{'Logout' | translate}}</a>
                        </li>-->

                        <li id="language">
                            <a style="cursor:pointer;" ng-click="rootScope_changeLanguage('en')">EN</a>/<a class="active" style="cursor:pointer;  font-weight:normal;" ng-click="rootScope_changeLanguage('nl')">NL</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!------------------------- small menu: --->
            <div class="collapse navbar-collapse" id="defaultNavbar2" style="background-color:blue">
                <ul class="nav navbar-nav navbar-right" id="shrink-navigation">
                    <li class="dropdown">
                        <a href="#/MyAccount" role="button" ng-show="rootScope_username!=null">{{'My Account' | translate}}</a>

                    </li>
                    <li class="dropdown" ng-show="rootScope_curentUser.userType=='IGG'">
                        <a href="#/Admin" role="button">{{'Admin' | translate}}</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ng-click="rootScope_logout()" ng-show="rootScope_username!=null" style="text-transform:lowercase">{{'Log Off' | translate}}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-show="rootScope_username==null">{{'expertises' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bouwkostenmanagement link' | translate}}">{{'bouwkostenmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoed- en grondexploitaties link' | translate}}">{{'vastgoed- en grondexploitaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'anbesteden en contracteren link' | translate}}">{{'aanbesteden en Contracteren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'contractmanagement link' | translate}}">{{'contractmanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'duurzaam bouwen link' | translate}}">{{'duurzaam bouwen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'bim management link' | translate}}">{{'BIM Management' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'risicomanagement link' | translate}}">{{'risicomanagement' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'taxaties en waardebepalingen link' | translate}}">{{'taxaties en waardebepalingen' | translate}}</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-show="rootScope_username==null">{{'Werkgebieden' | translate}}</a>
                        <ul class="dropdown-menu multi-column columns-2">
                            <div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'woningbouw link' | translate}}">{{'woningbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'kantoren link' | translate}}">{{'kantoren' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'hotels link' | translate}}">{{'hotels' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'commercieel en bedrijfspanden link' | translate}}">{{'Commercieel en bedrijfspanden' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'leisure cultuur en sport link' | translate}}">{{'Leisure, Cultuur en Sport' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'datacentra link' | translate}}">{{'Datacentra' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'zorg, onderwijs en laboratoria link' | translate}}">{{'Zorg, onderwijs en Laboratoria' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'overheid link' | translate}}">{{'Overheid' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'luchthavens en infrastructuur link' | translate}}">{{'Luchthavens en infrastructuur' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        <li>
                                            <a href="{{'grond- weg en waterbouw link' | translate}}">{{'Grond- Weg en Waterbouw' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'energie en klimaat link' | translate}}">{{'Energie en klimaat' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'gebiedsontwikkeling link' | translate}}">{{'Gebiedsontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'vastgoedontwikkeling link' | translate}}">{{'Vastgoedontwikkeling' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'transformaties link' | translate}}">{{'Transformaties' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'monumenten en erfgoed link' | translate}}">{{'Monumenten en erfgoed' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'afbouw en interieur link' | translate}}">{{'Afbouw en Interieur' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="{{'beheer en onderhoud link' | translate}}">{{'Beheer en onderhoud' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{'projects_link' | translate}}" role="button" ng-show="rootScope_username==null">{{'Projects' | translate}}</a>

                    </li>
                    <li>
                        <a href="{{'team_link' | translate}}" ng-show="rootScope_username==null">{{'Team' | translate}}</a>
                    </li>
                    <li class="active">
                        <a href="{{'about link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'About igg' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'news link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'News' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'products link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'products' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'solutions link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Solutions' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'vacancies link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Vacancies' | translate}}</a>
                    </li>
                    <li>
                        <a href="{{'contact link' | translate}}" style="text-transform: lowercase; font-weight:normal;">{{'Contact' | translate}}</a>
                    </li>
                    <li id="language">
                        <a style="cursor:pointer; font-weight:normal;" ng-click="rootScope_changeLanguage('en')">EN</a>/<a class="active" style="cursor:pointer; font-weight:normal;" ng-click="rootScope_changeLanguage('nl')">NL</a>
                    </li>
                    <!-- ---------- SEARCH ------------->
                    <!--<div class="search" ng-show="rootScope_username!=null">
                        <input type="text" ng-model="searchstring" ng-keyup="$event.keyCode == 13 ? search() : null" class="form-control input-sm" maxlength="64" placeholder="{{'Search' |translate}}" />
                        <button type="submit" class="btn btn-search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>-->

                </ul>


                <ul class="nav navbar-nav navbar-right" id="main-navigation">
                    <li class="dropdown">
                        <a href="#/MyAccount" role="button" ng-show="rootScope_username!=null">{{'My Account' | translate}}</a>

                    </li>
                    <li class="dropdown" ng-show="rootScope_curentUser.userType=='IGG'">
                        <a href="#/Admin" role="button">{{'Admin' | translate}}</a>
                    </li>
                    <li>
                        <a style="cursor:pointer;" ng-click="rootScope_logout()" ng-show="rootScope_username!=null" style="text-transform:lowercase">{{'Log Off' | translate}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
<!-- ------------------------------------ / header ---------------------------------- -->

<!-- -----------------------------------   lets rock -->
<div id="content" ng-controller="User_controller" data-ng-init="init()">
    <div class="container-fluid" id="banner-main">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-10 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                <div class="banner-well well">
                    <div class="title">{{'Admin Page'|translate}}</div>
                    <div class="projecttitle">{{'Add/Change User' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container tenders create">
        <div class="row tender-forms">
            <div class="row">
                <h3>{{'general' | translate}}</h3>
            </div>
            <div class="form-horizontal">
                <div class="col-md-6 col-md-offset-3 col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Gebruikersnaam">{{'username' | translate}}</label>
                            <input type="text" class="form-control" id="Gebruikersnaam" ng-model="user.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Wachtwoord">{{'password'  | translate}}</label>
                            <input type="text" class="form-control" id="Wachtwoord" ng-model="user.pass">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Name">{{'name'  | translate}}</label>
                            <input type="text" class="form-control" id="Name" ng-model="user.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Achternaam">{{'middle_name'  | translate}} </label>
                            <input type="text" class="form-control" id="Achternaam" ng-model="user.middleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Achternaam">{{'surname'  | translate}} </label>
                            <input type="text" class="form-control" id="Achternaam" ng-model="user.surname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Voorletters">{{'initials' | translate}}</label>
                            <input type="text" class="form-control" id="Voorletters" ng-model="user.initials">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Sexe">{{'sex'  | translate}}</label>
                            <select class="form-control" id="Sexe" ng-model="user.sex" ng-options="x.value as x.name for x in rootScope_sexes"></select>
                        </div>
                    </div>
                    <div class="form-group img-group">
                        <div class="col-sm-6">
                            <div class="img-upload">
                                <img ng-src="{{GetImageAddress(user.photo)}}" alt="user-img" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-block" ngf-select="upload(user.photoFile, user)" ng-model="user.photoFile" ngf-multiple="false">{{'CHANGE PHOTO' | translate}}</button>
                            <br />File:
                        </div>
                    </div>
      
                </div>
            </div>
        </div>
    </div>
    <div class="container tenders create">
        <div class="row tender-forms">
            <div class="row">
                <h3>{{'Contact information' | translate}}</h3>
            </div>
            <form class="form-horizontal">
                <div class="col-md-6 col-md-offset-3 col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Bedrijfsnaam">{{'companyName'  | translate}} </label>
                            <input type="text" class="form-control" id="Bedrijfsnaam" ng-model="user.companyName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Land">{{'title'  | translate}}</label>
                            <input type="text" class="form-control" id="Land" ng-model="user.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Vestiging/afdeling">{{'section'  | translate}} [ Vestiging/afdeling ]</label>
                            <input type="text" class="form-control" id="Vestiging/afdeling" ng-model="user.section" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Adres">{{'address'  | translate}}</label>
                            <input type="text" class="form-control" id="Adres"  ng-model="user.address" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Postcode">{{'postCode' | translate}}</label>
                            <input type="text" class="form-control" id="Postcode" ng-model="user.postCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Plaats">{{'city'  | translate}}</label>
                            <input type="text" class="form-control" id="Plaats" ng-model="user.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Land-sec">{{'country'  | translate}}</label>
                            <input type="text" class="form-control" id="Land-sec" ng-model="user.country">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Telefoonnummer">{{'phone'  | translate}} </label>
                            <input type="text" class="form-control" id="Telefoonnummer" ng-model="user.phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Mobiel">{{'mobile'  | translate}}</label>
                            <input type="text" class="form-control" id="Mobiel" ng-model="user.mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Email">{{'email'  | translate}}</label>
                            <input type="text" class="form-control" id="Email" ng-model="user.email">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<!-- ---  Loogbook  --- -->
    <div class="container tenders create">
        <div class="row tender-forms">
            <div class="row">
                <h3>{{'Loogbook' | translate}}</h3>
            </div>
            <div class="table-responsive col-lg-12">
       <!--<form class="table-search">
            <div class="form-group">
                <label>{{'search' | translate}}</label>
                <input type="text" class="form-control" id="table-search" ng-model="searchuserKeyword" ng-keyup="$event.keyCode == 13 ? searchUser() : null">
            </div>
        </form>-->
                <div class="col-md-6">
                    <label>{{'Project' | translate}}</label>
                </div>
                <div class="col-md-6">
                    <select ng-model="selectedProjectID" ng-change="getForUsertype()">
                        <option ng-repeat="x in Projects" value="{{x.ID}}">{{x.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <div id="datepickefirst1">
                        <label>{{'Toegang van'|translate}}</label>
                        <!------- datepicker --->
                        <div class="datepicker_novi">
                            <!------- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> --->
                            <div class="input-group" class="form-control" datepicker-popup="{{ datePickerStart.format}}" ng-model="StartDate" is-open="datePickerStart.opened" min="datePickerStart.minDate" max="datePickerStart.maxDate" datepicker-options="datePickerStart.dateOptions" date-disabled="datePickerStart.disabled(date, mode)" ng-required="true" close-text="Close" show-weeks="false" ng-change="StartChanged()">
                                <input type="text" value="{{rootScope_ShowDate(StartDate)}}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" ng-click="datePickerStart.open($event)"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div id="datepickefirst1">
                        <label>{{'Toegang van'|translate}}</label>
                        <!------- datepicker --->
                        <div class="datepicker_novi">
                            <!------- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> --->
                            <div class="input-group" class="form-control" datepicker-popup="{{datePickerEnd.format}}" ng-model="EndDate" is-open="datePickerEnd.opened" min="datePickerEnd.minDate" max="datePickerEnd.maxDate" datepicker-options="datePickerEnd.dateOptions" date-disabled="datePickerEnd.disabled(date, mode)" ng-required="true" close-text="Close" show-weeks="false" ng-change="EndChanged()">
                                <input type="text" value="{{rootScope_ShowDate(EndDate)}}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" ng-click="datePickerEnd.open($event)"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <table class="table table-condensed table-striped table-bordered new-project admin-page table-header">
                        <thead>
                            <th>{{'user' | translate}}</th>
                            <th>{{'time' | translate}}</th>
                            <th>{{'action' | translate}}</th>
                            <th>{{'project' | translate}}</th>
                            <th>{{'textbox' | translate}}</th>
                            <th>{{'filename' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="us in logs">
                                <td class="first-row" style="cursor:pointer" ng-click="gotoURL('/#/User/'+us.userID)">{{us.surname}} {{us.middleName}} {{us.name}}</td>
                                <td class="date"> {{rootScope_ShowDateTime(us.time)}}</td>
                                <td>{{us.action}}</td>
                                <td style="cursor:pointer" ng-click="gotoURL('/#/Project/'+us.projectID)">{{us.projectName}}</td>
                                <td>{{us.textbox}}</td>
                                <td>{{us.filename}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagin">
                    <div class="text-pagin">
                        {{'page' | translate}} <span>{{curPage}}</span> {{'from' | translate}} <span>{{pagesCount}}</span>
                        <a class="btn-remove" ng-click="prevPage();"> <i class="glyphicon glyphicon-chevron-left" style="cursor:pointer"></i> </a>
                        <a class="btn-remove" ng-click="nextPage();"> <i class="glyphicon glyphicon-chevron-right" style="cursor:pointer"></i> </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- ---  / Loogbook  --- -->

    <div class="container tenders">
        <div class="row tender-forms">
            <div class="row">
                <h3>{{'userType' | translate}}</h3>
            </div>
            <form class="form-horizontal">
                <div class="col-md-6 col-md-offset-3 col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="Soort">{{'userType'  | translate}}</label>
                            <select ng-model="user.userType">
                                <option ng-repeat="x in UserTypes">{{x}}</option>
                            </select>
                        </div>
                    </div>
       
                </div>
            </form>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-4 col-sm-offset-3">
            <button class="btn btn-block" type="sumbit"  ng-click="Save()">{{'Save' | translate}}</button>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
            <button class="btn btn-block" type="sumbit" ng-click="SendCredentials()">{{'Send credentials' | translate}}</button>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
            <button class="btn btn-block" type="sumbit" ng-click="Delete()">{{'Delete' | translate}}</button>
        </div>
    </div>
</div>
<!-- -----------------------------------  / lets rock -->
<!-- ------------------------------------ footer ---------------------------------- -->
<footer>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12" id="contact">
                <h3>{{'Contact'|translate}}</h3>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>{{'contact_address_1' | translate}}</p>
                    <p>{{'contact_address_2' | translate}}</p>
                    <p>{{'contact_address_3' | translate}}</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p><span>T</span> {{'contact_T' | translate}}</p>
                    <!--<p><span>F</span>{{'contact_F' | translate}}</p>-->
                    <p><span>E</span> {{'contact_E' | translate}}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" id="partners">
                <h3>{{'Onze Partners' | translate}}</h3>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_1' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO1.jpg" alt="partner logo" class="img-responsive"></a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_2' | translate}}" target="_blank"><img src="Scripts/SPA/img/logo2.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_3' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO3.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_4' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO4.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_5' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO5.jpg" alt="partner logo" class="img-responsive">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6" style="max-width:16vw;">
                    <a href="{{'contact_link_partner_6' | translate}}" target="_blank"><img src="Scripts/SPA/img/LOGO6.jpg" alt="partner logo" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-low">
        <div class="container">
            <ul>
                <li>
                    <a href="{{'sitemap_link' | translate}}" target="_blank">{{'Sitemap' | translate}}</a>
                </li>
                <li>
                    <a href="{{'privacy_link' | translate}}" target="_blank">{{'Privacy' | translate}}</a>
                </li>
                <li>
                    <a href="{{'disclaimer_link' | translate}}" target="_blank">{{'Disclaimer' | translate}}</a>
                </li>
                <li>
                    <a href="{{'terms_link' | translate}}" target="_blank">{{'Algemene voorwaarden' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- ------------------------------------ / footer ---------------------------------- -->

